<h2>Minhas Doações</h2>

<h3>Instituição nome</h3>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Código da doação">
      <th mat-header-cell *matHeaderCellDef> Código da doação </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Nome do doador">
      <th mat-header-cell *matHeaderCellDef> Nome do doador </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeCompeltoDoador}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Email do doador">
      <th mat-header-cell *matHeaderCellDef> Email do doador </th>
      <td mat-cell *matCellDef="let element"> {{element.emailDoador}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Quantidade de peças">
      <th mat-header-cell *matHeaderCellDef> Quantidade de peças </th>
      <td mat-cell *matCellDef="let element"> {{element.quantidadePecas}} </td>
    </ng-container>

    <ng-container matColumnDef="Necessitam de coleta ?">
      <th mat-header-cell *matHeaderCellDef> Necessitam de coleta ? </th>
      <td mat-cell *matCellDef="let element"> {{element.transporte ? 'Sim' : 'Não'}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  