<mat-card class="donation-card" layout-align="center center">
  <mat-card-header>
    <mat-card-title>Cadastrar Doação</mat-card-title>
    <mat-card-subtitle> Informações da doação</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="AddDonation" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="donation-full-width">
        <mat-label>Quantidades de Peças</mat-label>
        <input matInput type="number" formControlName="Quantidade" required/>
      </mat-form-field>

      <mat-form-field class="donation-full-width">
        <mat-label>Nome Completo do Doador</mat-label>
        <input matInput type="text" formControlName="NomeDoador" required/>
      </mat-form-field>

      <mat-form-field class="donation-full-width">
        <mat-label>E-mail do Doador</mat-label>
        <input matInput type="email" formControlName="EmailDoador" required/>
      </mat-form-field>

      <mat-form-field class="donation-full-width">
        <mat-label>Intituição</mat-label>
        <mat-select formControlName="Instituicao" required>
          <mat-option *ngFor="let instituicao of instituicaoList" [value]="instituicao.id">
            {{instituicao.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="donation-full-width">
        <mat-label>Status</mat-label>
        <mat-select formControlName="Status" required>
          <mat-option *ngFor="let opt of statusOptions" [value]="opt">
            {{opt}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button mat-button [disabled]="AddDonation.invalid">Adicionar</button>
    </form>
  </mat-card-content>
</mat-card>
