.donation-card {
    max-width: 400px;
    margin-left: 30%;
    margin-right: 30%;
  }

  .donation-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .donation-full-width {
    width: 100%;
  }
