<mat-card class="signin-card">
    <mat-card-header>
        <mat-card-title>Cadastrar Instituição</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="instituicaoSignInForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="signin-full-width">
                <mat-label>Nome da Instituição</mat-label>
                <input matInput type="text" formControlName="nome" required />
            </mat-form-field>            

            <mat-form-field class="signin-full-width">
                <mat-label>Telefone de contato</mat-label>
                <input matInput type="text" formControlName="telefone" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="email" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>CNPJ da Instituição</mat-label>
                <input matInput type="text" formControlName="cnpj" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>Descrição da Instituição</mat-label>
                <input matInput type="text" formControlName="descricao" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>Pode coletar doações ?</mat-label>
                <mat-select formControlName="transporte" required>
                    <mat-option *ngFor="let opt of options" [value]="opt">
                      {{opt}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="usuarioSenha" required />
            </mat-form-field>

            <hr style="margin-top: 10px; margin-bottom: 10px;"/>

            <mat-form-field class="signin-full-width">
                <mat-label>Logradouro</mat-label>
                <input matInput type="text" formControlName="enderecoLogradouro" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>CEP</mat-label>
                <input matInput type="text" formControlName="enderecoCep" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>Bairro</mat-label>
                <input matInput type="text" formControlName="enderecoBairro" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>Cidade</mat-label>
                <input matInput type="text" formControlName="enderecoCidade" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>Estado</mat-label>
                <input matInput type="text" formControlName="enderecoUf" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>Número</mat-label>
                <input matInput type="text" formControlName="enderecoNumero" required />
            </mat-form-field>

            <mat-form-field class="signin-full-width">
                <mat-label>Complemento</mat-label>
                <input matInput type="text" formControlName="enderecoComplemento" />
            </mat-form-field>

            <button mat-button [disabled]="instituicaoSignInForm.invalid">REGISTRAR-SE</button>
        </form>
    </mat-card-content>
</mat-card>