<div class="w3-container w3-content w3-center w3-padding-64 center"  id="sobre">
    <h2 class="w3-wide">Campanha CoviDoantion</h2>
    <p class="w3-opacity"><i>Doe roupas que não servem mais.</i></p>
    <p class="w3-justify">Como resultado da pandemia de Coronovirus e as pessoas evitando sair de casa cada vez mais e a maioria das pessoas comuns esta aumentando alguns numeros em suas medidas e consequentemente perdendo roupas que muitas das vezes foram compradas recentemente. </p>
    <p class="w3-justify">Por outro lado o numero de pessoas que está passando para a faixa mais vuneravel da população também aumentou, isso sem falar dos ja pobres que estão ficando cada vez mais pobres. </p>
 	<p class="w3-justify">Pensando nesses dois cenarios idealizamos a CoviDonation uma campanha de doação de roupas perdidas na pandemia covid foi criada com o intuito de conectar pessoas que perderam as roupas pelo ganho de peso com os necessitados de doções que em muitos dos casos empobreceu na pandemia </p>
    <p class="w3-opacity"><i>Colabore com a campanha.</i></p>
    <div class="w3-row w3-padding-32 buttonCenter" style="display: flex;">
      <div class="w3-third" style="padding: 0.1em;">
        <!--<p>Cadastro doação</p>-->
        <button class="w3-button w3-black w3-margin-bottom" mat-raised-button color="primary" routerLink="adddonation">Cadastro Doação</button>
      </div>
      <div class="w3-third" style="padding: 0.1em;">
        <!--<p>Login</p>-->
        <button class="w3-button w3-black w3-margin-bottom" mat-raised-button color="primary" routerLink="login">Login Instiuição</button>
      </div>
      <div class="w3-third" style="padding: 0.1em;">
        <!--<p>Cadastro</p>-->
        <button class="w3-button w3-black w3-margin-bottom" mat-raised-button color="primary" routerLink="signin" >Cadastro Instiuição</button>
      </div>
    </div>
  </div>
